In [16]:
import os                          #checking which directory to put sample student's grade file in
os.getcwd()

'C:\\Users\\bolzj'

In [17]:
import pandas as pd                #import pandas library

# Grades.xlsx
## In Excel, I created a spreadsheet for a sample student.
* Column 1 was for Attendance:  P or A was decided 15 times.
* Column 2 was for Projects:  I entered a likely grade between 0 and 100.
* Column 3 was for Assignments:  I let excel pick a random number between 75 and 100 for each row.

In [18]:
df=pd.read_excel('grades.xlsx')    #read in excel file of sample student's grades as a dataframe
df                                 #show the dataframe

   Attendance  Projects  Assignments
0           P      90.0           81
1           P      92.0           90
2           P      89.0          100
3           P       NaN           80
4           P       NaN           79
5           A       NaN           97
6           P       NaN           75
7           P       NaN           87
8           P       NaN           98
9           P       NaN           76
10          P       NaN           87
11          P       NaN           79
12          P       NaN           77
13          P       NaN           98
14          P       NaN           83
15        NaN       NaN           82
16        NaN       NaN           92
17        NaN       NaN           80
18        NaN       NaN           92
19        NaN       NaN           84
20        NaN       NaN           83
21        NaN       NaN           82
22        NaN       NaN           75
23        NaN       NaN           76
24        NaN       NaN           81
25        NaN       NaN           75
26        NaN       NaN           94
27        NaN       NaN           93
28        NaN       NaN           85
29        NaN       NaN           84

In [19]:
att_pts=(df['Attendance'].loc[df['Attendance']=='P'].count())/15*0.1    #Count the number of times 'P' is found in the 
att_pts                                                                 #'Attendance' column, divide by 15 to see the percent
                                                                        #of classes present for, multiply by 10% to get points 
                                                                        #awarded to final grade based on attendance.

0.09333333333333334

In [23]:
proj_pts=(df['Projects'].sum())/3*0.6                  #Sum up the entries in the 'Projects' column, divide by 3 to get
proj_pts                                               #the average grade for the projects, multiply by 60% to get 
                                                       #points awarded to final grade based on projects.

54.199999999999996

In [26]:
assign_pts=(df['Assignments'].sample(10).sum())/10*0.3   #Sum up a random sampling of 10 scores from the 'Assignments'  
assign_pts                                               #column, divide by 10 to get the average, multiply by 30% 
                                                         #to get points awarded to the final grade based on assignments.

26.189999999999998

In [25]:
overall_avg=att_pts+proj_pts+assign_pts                #Sum up the points awarded from each grade category to get the 
                                                       #student's overall average in points out of 100.
if overall_avg >= 97:
    print("Student's grade is an A")                   #Decide on the letter grade awarded to the student based on 
elif overall_avg>= 90 and overall_avg <= 96.99:        #UMBC scale as outlined in the Data 601 syllabus
    print("Student's grade is an A-")
elif overall_avg>= 87 and overall_avg <= 89.99:
    print("Student's grade is a B+")
elif overall_avg>= 84 and overall_avg <= 86.99:
    print("Student's grade is a B")
elif overall_avg>= 80 and overall_avg <= 83.99:
    print("Student's grade is a B-")
elif overall_avg>= 77 and overall_avg <= 79.99:
    print("Student's grade is a C+")
elif overall_avg>= 74 and overall_avg <= 76.99:
    print("Student's grade is a C")
elif overall_avg>= 70 and overall_avg <= 73.99:
    print("Student's grade is a C-")
elif overall_avg>= 60 and overall_avg <= 69.99:
    print("Student's grade is a D")
else:
    print("Student's grade is an F")                   #Print out final letter grade

Student's grade is a C+