In [3]:
import os
os.getcwd()

'C:\\Users\\bolzj'

In [4]:
import pandas as pd

In [8]:
df=pd.read_excel('grades.xlsx')
df.head()

  Attendance  Projects  Assignments
0          P      90.0           81
1          P      92.0           90
2          P      89.0          100
3          P       NaN           80
4          P       NaN           79

In [11]:
att_avg=(df['Attendance'].loc[df['Attendance']=='P'].count())/15*0.1
att_avg

0.09333333333333334

In [19]:
proj_avg=(df['Projects'].sum())/3*0.6
proj_avg

54.199999999999996

In [27]:
overall_avg=att_avg+proj_avg+assign_avg

if overall_avg >= 97:
    print("Student's grade is an A")
elif overall_avg>= 90 and overall_avg <= 96.99:
    print("Student's grade is an A-")
elif overall_avg>= 87 and overall_avg <= 89.99:
    print("Student's grade is a B+")
elif overall_avg>= 84 and overall_avg <= 86.99:
    print("Student's grade is a B")
elif overall_avg>= 80 and overall_avg <= 83.99:
    print("Student's grade is a B-")
elif overall_avg>= 77 and overall_avg <= 79.99:
    print("Student's grade is a C+")
elif overall_avg>= 74 and overall_avg <= 76.99:
    print("Student's grade is a C")
elif overall_avg>= 70 and overall_avg <= 73.99:
    print("Student's grade is a C-")
elif overall_avg>= 60 and overall_avg <= 69.99:
    print("Student's grade is a D")
else:
    print("Student's grade is an F")

Student's grade is a B-